# СОДЕРЖАНИЕ
- 0. Описание новой проблемы. Почему не подошло 1-ое решение
- 3. Выявленные проблемы в работе прежней функции
- 5. **НОВОЕ РЕШЕНИЕ**
- 4. Новое решение step-by-step
- 1. Прежнее решение
- 2. Работа прежнего решения на данных с 6-ым уровнем связи

**Описание новой проблемы. Почему не подошло 1-ое решение**

Прошлое решение не дало корректного результата на тестовых данных. Есть большая вероятность того, что в тестовых данных была связь более глубокого уровня, чем 4-ый (1-ая верся функции ищет связь именно до 4-ого уровня). Таким образом, нужно переписать функцию (а возможно и всю ее логику), чтобы поиск данных осуществлялся на любом уровне!

# Выявленные проблемы в работе прежней функции
- нужна предобработка данных, включенная в функцию
    - переименование колонок в 'id_key', 'id_user', 'phone', 'mail'
    - парсинг данных в строки, как и было сделано в предыдущей версии, но за рамками функции (а нужно - внутри функции)
- input: одностраничный .xlsx файл (предобработка должна быть включена в функцию)
- уровни связи более 5-ого - проблема

# НОВОЕ РЕШЕНИЕ

# Новое решение step-by-step

# Прежнее решение

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test_data.csv', sep=';')
df = df.applymap(str)
df

  id_key id_user        phone          email
0      1   12345  89997776655   test@mail.ru
1      2   54321  87778885566    two@mail.ru
2      3   98765  87776664577  three@mail.ru
3      4   66678  87778885566   four@mail.ru
4      5   34567  84547895566   four@mail.ru
5      6   34567  89087545678   five@mail.ru

In [3]:
df.dtypes

id_key     object
id_user    object
phone      object
email      object
dtype: object

In [4]:
def connection_query(df, query_s):
    
    # приведение к алгоритмическому решению
    cols = df.columns.to_list()[1:]
    input_ = query_s  
    
    # выделяем из запроса колонку и значение
    col = input_.split(' = ')[0]
    val = input_.split(' = ')[1]
    
    # создаем строку запроса
    q=f'{col} == "{val}"'
    
    # берем из основного DF данные по id_key, удовлетворяющие запросу q
    # то есть находим связь 1-ого уровня
    s1 = []
    for i in df.query(q).id_key.tolist():
        s1.append(i)
        
    '''
    # далее в коде нам понадобится ссылаться на имена колонок, поэтому
    cols = df.columns.to_list()[1:]
    '''
    
    # для каждого элемента из списка id_key перого уровня (s1) осуществляем поиск
    # задача: сформировать список id_key 2-ого уровня (s2)
    
    ####################
    # напишем ф-цию формирования списка id_key i-ого уровня из списка (i-1)-ого уровня
    def get_down(take_from, save_to, columns):
        
        ## для i-ого элемента верхнего уровня будем искать значения колонки 1 (id_user)
        for i in take_from:
            
            ### берем i-ый элемент верхнего уровня
            el_ = i

            ### формируем запрос
            q = f'id_key == "{el_}"'

            ### сохраняем результат запроса
            r = df.query(q)
            
            ### колонки нашего DataFrame'а
            cols = columns

            ### для k-ой колонки
            for k in cols:

                ### сохраняем название колонки, с которой работаем
                col_ = k

                ### из результата возьмем все данные из k-ой искомой колонки
                ### и сразу проведем поиск связанных данных
                v = r[col_].iloc[0]

                ### формируем запрос на поиск связанных с k-ой колонкой данных в id_key
                q = f'{col_} == "{v}"'

                ### ищем связанные с этим id_user данные в id_key
                ### и сохраняем эти id_key в список 2-ого уровня
                for i in df.query(q).id_key.tolist():
                    save_to.append(i)
    ####################
    
    # написали ф-цию формирования списка id_key i-ого уровня из списка (i-1)-ого уровня
    # вернемся к задаче
    
    ####################    
    # задача: сформировать список id_key 2-ого уровня (s2)
    # выполним ее с помощью ф-ции get_down()
    # для нее нужны:
    # take_from - список с id_keys верхнего уровня, 
    # save_to   - пустой список для id_keys нижнего уровня, 
    # columns   - список колонок DF, по к-рым будет осущ. поиск связи
    
    # take_from == s1
    s2 = []  # save_to
    # columns == cols
    
    # формируем список 2-ого уровня
    get_down(take_from=s1, save_to=s2, columns=cols)
    # теперь у нас есть сформированный список 2-ого уровня (s2)
    
    # удаляем дупликаты
    s2 = list(dict.fromkeys(s2))

    # сортируем
    s2 = list(map(int, s2))
    s2.sort()
    s2 = list(map(str, s2))

    # получаем список тех id_key, который мы еще не проверили на связь с первоначальным запросом
    # т.е. мы смотрим связь 2-ого уровня
    s2 = list(set(s2) - set(s1))
    ####################
    
    ####################    
    # задача: сформировать список id_key 3-ого уровня (s3)
    # выполним ее с помощью ф-ции get_down(), для к-рой нужны:
    # take_from == s2  - список с id_keys верхнего уровня, 
    s3 = []  # save_to - пустой список для id_keys нижнего уровня, 
    # columns == cols  - список колонок DF, по к-рым будет осущ. поиск связи
    
    # формируем список 3-его уровня
    get_down(take_from=s2, save_to=s3, columns=cols)
    # теперь у нас есть сформированный список 3-его уровня (s3)
    
    # удаляем дупликаты
    s3 = list(dict.fromkeys(s3))

    # сортируем
    s3 = list(map(int, s3))
    s3.sort()
    s3 = list(map(str, s3))

    # получаем список тех id_key, который мы еще не проверили на связь с первоначальным запросом
    # т.е. мы смотрим связь 3-его уровня
    s3 = list(set(s3) - set(s2) - set(s1))
    ####################

    ####################    
    # задача: сформировать список id_key 4-ого (финального для DataFrame'ов такого типа) уровня (s4)
    # выполним ее с помощью ф-ции get_down(), для к-рой нужны:
    # take_from == s3  - список с id_keys верхнего уровня, 
    s4 = []  # save_to - пустой список для id_keys нижнего уровня, 
    # columns == cols  - список колонок DF, по к-рым будет осущ. поиск связи
    
    # формируем список 4-ого уровня
    get_down(take_from=s3, save_to=s4, columns=cols)
    # теперь у нас есть сформированный список 4-его уровня (s4)
    
    # удаляем дупликаты
    s4 = list(dict.fromkeys(s4))

    # сортируем
    s4 = list(map(int, s4))
    s4.sort()
    s4 = list(map(str, s4))

    # получаем список тех id_key, который мы еще не проверили на связь с первоначальным запросом
    # т.е. мы смотрим связь 4-ого уровня
    s4 = list(set(s4) - set(s3) - set(s2) - set(s1))
    ####################    
    
    # не должно остаться id_key, которые мы не проверили на связь
    if s4 == []:
        pass
    else:
        res = 'ERROR: похоже, есть связь 5-ого и более уровней, т.к. список s4 не пуст'
        return res
    
    # формируем финальный список id_keys, которые мы должны отобразить в output
    S = set()
    S.update(set(s1))
    S.update(set(s2))
    S.update(set(s3))

    # возвращаем DF с запросом в качестве output
    
    return df.query(f'id_key in {list(S)}')

In [5]:
res = connection_query(df=df, query_s="phone = 87778885566")
res

  id_key id_user        phone         email
1      2   54321  87778885566   two@mail.ru
3      4   66678  87778885566  four@mail.ru
4      5   34567  84547895566  four@mail.ru
5      6   34567  89087545678  five@mail.ru

# Работа прежнего решения на данных с 6-ым уровнем связи

In [6]:
df1 = pd.read_csv('test_data_ver_2.csv', sep=';')
df1 = df1.applymap(str)
df1

  id_key id_user        phone          email
0      1   12345  89997776655   test@mail.ru
1      2   54321  87778885566    two@mail.ru
2      3   98765  87776664577  three@mail.ru
3      4   66678  87778885566   four@mail.ru
4      5   34567  84547895566   four@mail.ru
5      6   34567  89087545678   five@mail.ru
6      7   11111  84547895566    six@mail.ru
7      8   22222  89087545678  seven@mail.ru
8      9   11111  81111111111    six@mail.ru

In [7]:
res = connection_query(df=df1, query_s="phone = 87778885566")
res

'ERROR: похоже, есть связь 5-ого и более уровней, т.к. список s4 не пуст'

# Работа прежнего решения на тестовых данных Сбера

In [8]:
df1 = pd.read_csv('test_data_by_sber.csv', sep=';')
df1 = df1.applymap(str)
df1 = df1.rename(columns={'key': 'id_key', 'id': 'id_user'}).drop(columns=['Unnamed: 0'])

In [9]:
res = connection_query(df=df1, query_s="id_user = 22296")
res

,id_key,id_user,phone,mail
8068,8068,16137,86350580710,twrnepja@mail.ru
28326,28326,22296,82750671293,jfcivwlghrampynyexio@mail.ru
58141,58141,36057,80775677213,krgxswekentolramxxwyjvymwyiqtbfbln@mail.ru
111729,111729,22296,87875724457,rpdbkihbzxebilouiwuomzfle@mail.ru
130000,130000,22296,88171207757,fsldrjgam@mail.ru
135531,135531,22296,81787715958,wivq@mail.ru
202906,202906,22296,86393323637,fmhgxo@mail.ru
209486,209486,36057,80654020342,ndqfguqwdaersxeepjswbglvjgwqccscxvr@mail.ru
282349,282349,22296,82305242696,eiyxknwueikmyeiunpzskuvd@mail.ru
291893,291893,61570,84112805432,qsqanznsfykicgnqzycadfozdkntxfigjq@mail.ru
327692,327692,61570,81523321120,gpxzryvscsdrcaudwxybe@mail.ru
392160,392160,22296,83408371348,pnwyq@mail.ru
395029,395029,16137,84877057030,einqvxqhczbncdiljoscsvpwyitwmmbes@mail.ru
418611,418611,22296,87533965232,zticfuxorajyzjkpmdenomkuhcmryifcv@mail.ru
431974,431974,22296,83986165615,hgmkpggidseqtwkxsfskdj@mail.ru
449114,449114,22296,82684464603,cfahbumjshjddfbzabtnspfcwkjkn@mail.ru
488948,488948,22296,83664950848,ogzaiffarhdtjmghzrynfxtqlhlxnap@mail.ru
489661,489661,16137,81396413775,lwhezrnasoqoydxdticzrogmv@mail.ru
523625,523625,36057,83528297036,khlhtzpf@mail.ru
525055,525055,36057,87186495251,dkyqmfwtmahydvrrnil@mail.ru
528907,528907,16137,87944166291,uudzdxcidjzuuniiobavhscvyf@mail.ru
618288,618288,16137,80065402760,nvtma@mail.ru
645162,645162,22296,86001289002,aldh@mail.ru
646661,646661,36057,82460927864,gjqzecmwaaixsdlogcec@mail.ru
655961,655961,61570,86094874548,deypmaypxzkldzroyzvucyvdt@mail.ru
669487,669487,61570,88311613052,bwdbrfo@mail.ru
683844,683844,22296,82943200459,ctymmutinflf@mail.ru
684812,684812,22296,80634195069,hlbdvuvtbpawlnvlkkjgov@mail.ru
693716,693716,22296,82101660676,vmmkevieucndrrcbaphvkkfpyrqyatp@mail.ru
699198,699198,16137,81888510406,jkckxqticfsejrzcugarubzysvrixtqpxz@mail.ru
716763,716763,16137,83464373761,hzzxmiourmynztpeomxeulsocl@mail.ru
727352,727352,22296,83686335404,ugkhnzf@mail.ru
739845,739845,61570,85859473097,aldh@mail.ru
740787,740787,36057,80664838489,aldh@mail.ru
757755,757755,36057,86261112115,cxrnetdyherrhjfhxb@mail.ru
796665,796665,22296,86532327407,ghblomahgmvplor@mail.ru
803985,803985,36057,82857108347,kpzmqg@mail.ru
804288,804288,61570,87895426130,fvbmadgwl@mail.ru
833379,833379,22296,80640630044,kvrzsxunbj@mail.ru
847415,847415,36057,89837390491,uwscraxjftkfmaxgnc@mail.ru
871426,871426,16137,80211484499,aldh@mail.ru
901512,901512,36057,89423411373,kokhplcyhpcmjwodxnzzpihektso@mail.ru
916717,916717,16137,87345392768,smoo@mail.ru
935149,935149,16137,83461453305,kbxsvzvtrbbzkzkspsfodhebfogqvn@mail.ru
998749,998749,16137,88430584904,ginobvfrefglkhwyil@mail.ru
999872,999872,61570,86283699106,jzttmkxsyaxhsqxbogkavnm@mail.ru

In [10]:
res.columns

Index(['id_key', 'id_user', 'phone', 'mail'], dtype='object')